<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="page-header">
                <b><h1 align="center">สั่งอาหาร</h1></b>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h4 align="right">รหัสบิล...</h4>
                <h4 align="right">โต๊ะที่ ...</h4>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead style="font-size: 28px;">
                    <tr>
                        <th>รายการอาหาร</th>
                        <th width="20">ราคา</th>
                        <th width="20">จำนวน</th>
                        <th width="20">เหลือ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ไก่</td>
                        <td>29 /บาท</td>
                        <td><input type="number" class="form-control" max="10" min="0" value="1"></td>
                        <td style="color:yellow;"><input disabled type="number" class="form-control" min="0" value="200"></td>
                    </tr>
                    <tr>
                        <td>ไก่</td>
                        <td>29 /บาท</td>
                        <td><input type="number" class="form-control" max="10" min="0" value="1"></td>
                        <td style="color:yellow;"><input disabled type="number" class="form-control" min="0" value="200"></td>
                    </tr>
                    <tr>
                        <td>ไก่</td>
                        <td>29 /บาท</td>
                        <td><input type="number" class="form-control" max="10" min="0" value="1"></td>
                        <td style="color:yellow;"><input disabled type="number" class="form-control" min="0" value="200"></td>
                    </tr>
                    <tr>
                        <td>ไก่</td>
                        <td>29 /บาท</td>
                        <td><input type="number" class="form-control" max="10" min="0" value="5"></td>
                        <td style="color:yellow;"><input disabled type="number" class="form-control" min="0" value="200"></td>
                    </tr>
                    <tr>
                        <td>ไก่</td>
                        <td>29 /บาท</td>
                        <td><input type="number" class="form-control" max="10" min="0" value="0"></td>
                        <td style="color:yellow;"><input disabled type="number" class="form-control" min="0" value="200"></td>
                    </tr>

               
                </tbody>
            </table>
            <div align="center">
                <button type="submit" class="btn btn-warning btn-lg">สั่งอาหาร</button>
            </div>

        </div>
    </div>
    <!-- /.container-fluid -->

</div>
